image: nixpkgs/nix-flakes:latest
before_script:
  - mkdir -p ~/.config/nix
  - |
    cat <<EOF >> ~/.config/nix/nix.conf
    system-features = nixos-test benchmark big-parallel kvm
    EOF
stages:
  - nix-flake-check
nix-flake-check:
  stage: nix-flake-check
  tags:
    - docker
  script:
    - |
      nix flake check \
      --print-build-logs \
      --accept-flake-config
  variables:
    FF_NETWORK_PER_BUILD: "true"
