image: nixpkgs/nix-flakes:latest
before_script:
  - mkdir -p ~/.config/nix
  - |
    cat <<EOF >> ~/.config/nix/nix.conf
    system-features = nixos-test benchmark big-parallel kvm
    accept-flake-config = true
    extra-substituters = https://sweng-group-26.cachix.org
    extra-trusted-public-keys = sweng-group-26.cachix.org-1:n9ILenQ08eznmKvmoFrHxrGaP9DKNmIfv08AE852MzE=
    EOF
stages:
  - nix-flake-check
nix-flake-check:
  stage: nix-flake-check
  tags:
    - docker
  script:
    - nix run .#ci --accept-flake-config
  variables:
    FF_NETWORK_PER_BUILD: "true"
